@model WishlistEditModel
@{
    ViewBag.Title = Model.DisplayName + " - wymarzony upominek";
}

<h1>@ViewBag.Title</h1>

@if (Model.Items.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lista podpowiedzi</th>
                <!-- <th>Preview</th>
                <th>&nbsp;</th> -->
            </tr>
        </thead>
        <tbody>
            @foreach (WishlistItem item in Model.Items)
            {
                <tr>
                    <td>
                        <h3>@Html.DisplayFor(m => item.Name)</h3>
                        <p><small>@Html.DisplayFor(m => item.Description)</small></p>
                    </td>
                    <!-- <td>
                        @if (!string.IsNullOrWhiteSpace(item.Url))
                        {
                            <a class="preview" target="_blank" href="@item.Url"><img class="img-thumbnail img-responsive" src="@Url.Action("FeaturedImage", "Preview", new {accountId = Model.AccountId, itemId = item.Id})" /></a>
                        }
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <div class="pull-right">
                            @if (!string.IsNullOrWhiteSpace(item.Url))
                            {
                                <a target="_blank" class="btn btn-default" href="@item.Url">More Information &raquo;</a>
                            }
                            else
                            {
                                <a class="btn btn-link" href="#">No Link Provided</a>
                            }
                        </div>
                    </td> -->
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a href="@Url.Action("Remind", "Wishlist", new {id = Model.AccountId})" class="btn btn-primary btn-lg">Wyślij (anonimowo) email z prośbą o więcej podpowiedzi &raquo;</a>
    </p>
}
else
{
    <p>@Model.DisplayName nie dodał(a) jeszcze podpowiedzi do swojego wymarzonego upominku.</p>
    <p>
        <a href="@Url.Action("Remind", "Wishlist", new {id = Model.AccountId})" class="btn btn-primary btn-lg">Wyślij email-przypominajkę &raquo;</a>
    </p>
}

<p>
    <a class="btn btn-default btn-lg" href="@Url.Action("Index", "Wishlist")">Twój wymarzony upominek - dodaj podpowiedzi &raquo;</a>
</p>
